.banner {
    padding-top: 20px;
    padding-bottom: 10px;
    background-color: white;
    border-bottom: 0.5px solid lightgray;
    }
.banner-kiri {
    margin-right: 5px;
}
.banner-swipe {
    width: 815px;
    border-radius: 2px;
}
.banner-kanan > img {
    width: 400px;
    border-radius: 2px;
    margin-bottom: 5px;
}
.bagian-bawah {
    width: 1200px;
    justify-content: space-between;
    margin-top: 15px;
    align-items: flex-start;
}
.bagian-bawah > li {
    width: 100px;
    height: 80px;
    text-align: center;
    margin-bottom: 10px;

    cursor: pointer;
}
.bagian-bawah > li:hover > img {
    width: 47px;
    margin-bottom: 6px;
}
.bagian-bawah > li > img {
    width: 50px;
    margin-bottom: 5px;
}
.bagian-bawah > li > span {
    margin-bottom: 10px;
}
.swiper {
    width: 815px;
}
.swiper-button-prev {
    background-color: rgb(0, 0, 0, 0.3);
    padding: 3px;
    left: 0;
    display: none;
}
.swiper-button-next {
    background-color: rgb(0, 0, 0, 0.3);
    padding: 3px;
    right: 0;
    display: none;
}
.swiper-button-next:after, .swiper-button-prev::after {
    font-size: 16px;
    font-weight: bold;
    color: white;
}
.swiper:hover > .swiper-button-prev, .swiper:hover > .swiper-button-next {
    display: flex;
}
.swiper-pagination-bullet-active {
    background-color: white;
}