.divpractice {
    width: 900px;
    height: 580px;

    background-color: green;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 10px;

    margin: 0px auto 0px auto;
}
.divpractice > .first {
    width: 40%;
    height: 150px;

    background-color: red;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.divpractice > .second {
    width: 40%;
    height: 430px;

    background-color: blue;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.divpractice > .second > button {
    margin-right: 5px;
    padding: 10px;
}